* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
  font-size: 10px;
}

p {
  font-size: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container .navbar {
  flex-basis: 10%;
  width: 100%;
  background-color: #666666;
}

.container .main {
  flex-basis: 85%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5%;
}

.container .main .main-content {
  flex-basis: 64%;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container .main .main-content .tabs-container {
  flex-basis: 47%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #666666;
}

.container .main .main-content .tabs-container .tabs-headers {
  flex-basis: 13%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  background-color: white;
}

.container .main .main-content .tabs-container .tabs-headers .tab-header {
  flex-basis: 20%;
  height: 90%;
  background-color: #c7c7c7;
}

.container .main .main-content .tabs-container .tabs-headers span {
  flex-basis: 20%;
  height: 90%;
  background-color: white;
  margin-left: 20%;
  font-weight: 5500;
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  color: #999999;
}

.container
  .main
  .main-content
  .tabs-container
  .tabs-headers
  .tab-header:nth-child(1) {
  height: 100%;
  background-color: #666666;
}

.container .main .main-content .items-container {
  flex-basis: 53%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 15px;
  width: 100%;
  padding-top: 2%;
}

.container .main .main-content .items-container .item {
  flex-basis: 19%;
  height: 48%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container .main .main-content .items-container .item .img {
  flex-basis: 65%;
  width: 100%;
  background-color: #c7c7c7;
}

.container .main .main-content .items-container .item .description {
  flex-basis: 30%;
  width: 100%;
}

.container .main .side-content {
  flex-basis: 34%;
  /* background-color: blueviolet; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container .main .side-content .upper {
  flex-basis: 47%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #999999;
}

.container .main .side-content .upper .upper {
  flex-basis: 13%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  width: 100%;
  background-color: white;
}

.container .main .side-content .upper .upper .item {
  flex-basis: 10%;
  height: 70%;
  background-color: #c7c7c7;
}

.container .main .side-content .upper .lower {
  flex-basis: 87%;
}

.container .main .side-content .middle {
  flex-basis: 5%;
  width: 100%;
  background-color: #999999;
}
.container .main .side-content .lower {
  flex-basis: 41%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container .main .side-content .lower .upper {
  flex-basis: 38%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.container .main .side-content .lower .upper .upper {
  /* background-color: hotpink; */
  flex-basis: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.container .main .side-content .lower .upper .upper .img {
  flex-basis: 30%;
  height: 100%;
  /* background-color: blue; */
  background-color: #c7c7c7;
}
.container .main .side-content .lower .upper .upper .desc {
  flex-basis: 67%;
  height: 100%;
  /* background-color: antiquewhite; */
  text-align: justify;
}
.container .main .side-content .lower .upper .lower {
  /* background-color: rgb(19, 160, 113); */
  flex-basis: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 5px;
}
.container .main .side-content .lower .middle {
  flex-basis: 1%;
  width: 100%;
  background-color: #666666;
  margin: 0px 0px;
}

.container .main .side-content .lower .lower .upper .img {
  flex-basis: 32%;
  height: 100%;
  /* background-color: #999999; */
}
.container .main .side-content .lower .lower .upper .desc {
  flex-basis: 62%;
  height: 100%;
  /* background-color: antiquewhite; */
  font-size: 10px;
  text-align: justify;
}
.container .main .side-content .lower .lower .lower {
  /* background-color: rgb(19, 160, 113); */
  flex-basis: 20%;
  width: 100%;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .footer {
  flex-basis: 5%;
  width: 100%;

  background-color: #c7c7c7;
}
